<div class="widget">
  <div class="sidebar">
    <Scheduling::Widget::Stage
      @index={{1}}
      @label="clinician"
      @primaryValue={{this.clinician.nameWithTitle}}
    />
    <Scheduling::Widget::Stage
      @index={{2}}
      @isActive={{this.isSelectingService}}
      @label="select a service"
      @primaryValue={{this.selectedService.description}}
      @secondaryValue={{this.selectedService.durationInMinutes}}
      @reselect={{this.selectService}}
    />
    <Scheduling::Widget::Stage
      @index={{3}}
      @isActive={{this.isSelectingLocation}}
      @label="select a location"
      @primaryValue={{this.selectedLocation.name}}
      @reselect={{this.selectLocation}}
    />
    <Scheduling::Widget::Stage
      @index={{4}}
      @isActive={{this.isSelectingDateTime}}
      @label="select date & time"
      @primaryValue={{this.dateTime}}
      @reselect={{this.selectDateTime}}
    />
    <Scheduling::Widget::Stage
      @index={{5}}
      @isActive={{this.isEnteringDetails}}
      @label="your information"
    />
  </div>
  <div class="object-page">
    {{#if this.isSelectingService}}
      <Scheduling::Widget::Services
        @selectService={{this.selectService}}
        @services={{this.services}}
      />
    {{/if}}
    {{#if this.isSelectingLocation}}
      <Scheduling::Widget::Locations
        @locations={{this.locations}}
        @selectLocation={{this.selectLocation}}
      />
    {{/if}}
  </div>
</div>
