<div class="widget">
  <Scheduling::Widget::Sidebar
    data-test-done-loading={{this.hasLoaded}}
    @clinician={{this.clinician}}
    @selectDateTime={{this.selectDateTime}}
    @selectLocation={{this.selectLocation}}
    @selectService={{this.selectService}}
    @selectedDateTime={{this.selectedDateTime}}
    @selectedLocation={{this.selectedLocation}}
    @selectedService={{this.selectedService}}
  />
  <div data-test-widget-object-page class="object-page">
    {{#if this.isSelectingService}}
      <Scheduling::Widget::Services
        data-test-done-loading={{this.hasLoaded}}
        @selectService={{this.selectService}}
        @services={{this.services}}
      />
    {{/if}}
    {{#if this.isSelectingLocation}}
      <Scheduling::Widget::Locations
        @locations={{this.locations}}
        @selectLocation={{this.selectLocation}}
      />
    {{/if}}
  </div>
</div>
