<div class="stage-wrapper {{if this.isDisabled 'disabled'}}">
  <span class="stage {{if @isActive 'active'}}">
    <div class="circle">{{@index}}</div>{{@label}}
  </span>

  {{#if @primaryValue}}
    <span
      class="text-link {{if @reselect 'btn-link'}}"
      role="button"
      {{on "click" this.reselect}}
    >
      {{@primaryValue}}
    </span>
  {{/if}}
  {{#if @secondaryValue}}
    <span
      class="text-link {{if @reselect 'btn-link'}}"
      role="button"
      {{on "click" this.reselect}}
    >
      {{@secondaryValue}}
    </span>
  {{/if}}
</div>
